body {background-color:black ;font-family:Arial;color:white}
h1{color:grey;font-family:verdana;}
.maindiv {
    background-color:white;color:black;width:600px;padding: 50px;
    border-radius:  25px; 
    
}

